{% extends "base.html" %}

{% load static %}

{% block title %}Image Upload - Magis Air{% endblock %}

{% block styles %}
<style>
    body {
        background-color: var(--tertiary-01);
        margin: 0;
    }

    #building {
        position: absolute;
        z-index: -1; 
        bottom: 40px; 
        left: 0; 
        width: 100vw; 
        height: 60vh; 
        object-fit: cover; 
    }

    #building1 {
        position: absolute;
        z-index: -1; 
        bottom: 500px; 
        left: 0; 
        width: 100vw; 
        height: 60vh; 
        object-fit: cover; 
    }

    .home {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100vh;
    }

    .hometxt {
        flex: 1;
        padding-left: 6rem;
        padding-bottom: 8rem;
        margin-left: 40px;
        text-align: center;
    }

    .hometxt .header {
        color: var(--primary);
        font-size: var(--h1-font-size);
        line-height: 1.2;
        margin-bottom: 1rem;
    }

    .hometxt p {
        margin-bottom: 1rem;
        font-size: 1.4rem;
    }

    .overview-section {
        padding: 2rem;
        background-color: white;
        font-family: Arial, sans-serif;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 2rem;
        text-align: justify;
    }

    .overview-section h2 {
        color: var(--primary);
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .overview-section p {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .overview-section ul {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .about-model-section {
        padding: 2rem;
        background-color: white;
        font-family: Arial, sans-serif;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 2rem;
        text-align: justify;
        margin-top: 4rem; 
    }

    .about-model-section h2 {
        color: var(--primary);
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    .about-model-section p {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .about-model-section ul {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative; 
    }

    .upload-section h2 {
        color: var(--primary);
        margin-bottom: 1rem;
    }

    #building1 {
        position: absolute; 
        z-index: -1;  
        bottom: 0;    
        left: 0;
        width: 100%;  
        height: 60%;  
        object-fit: cover;
    }

    .upload-section form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .upload-section input[type="file"] {
        display: none; 
    }

    .upload-section p {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .upload-section ul {
        margin-bottom: 1rem;
        font-size: 1.2rem;
    }

    .custom-file-btn {
        background-color: var(--primary);
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 5px;
    }

    .custom-file-btn:hover {
        background-color: var(--secondary);
    }

    .file-name-container {
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
    }

    .file-name {
        font-size: 1rem;
        color: var(--primary);
        margin-left: 10px; 
        display: none;
    }

    .image-preview {
        margin-top: 1rem;
        max-width: 300px; 
        max-height: 300px;
    }

    .upload-section button {
        margin-top: 1rem;
        cursor: pointer;
    }

    .upload-section button:hover {
        background-color: var(--secondary);
    }

    .white-container {
    background-color: #ffffff; 
    padding: 20px;           
    border-radius: 10px;     
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 20px auto;       
    text-align: left;        
    }

    .center-title {
    text-align: center;      
    margin-bottom: 20px;     
    }

</style>
{% endblock %}

{% block content %}
<div class="home">
    <img id="building" src="{% static 'img/buildings.png' %}" alt="Background Building" />
    
    <div class="hometxt">
        <h1 class="header">Welcome to MAGIS OPTICS</h1>
        <p><strong>Your Vision, Our Magis</strong></p>
    </div>
</div>


<!-- Overview Section -->
<div id="overview" class="overview-section">
    <h2>Overview</h2>
    <p><strong>Understanding Diabetic Retinopathy</strong></p>
    <p>
        Diabetic Retinopathy (DR) is a complication of diabetes caused by damage to the blood vessels in the retina, 
        potentially leading to vision loss if untreated. The condition progresses through different stages, from mild 
        non-proliferative abnormalities to severe proliferative retinopathy, characterized by abnormal blood vessel growth.
    </p>

    <p><strong>0-4 Classification System</strong></p>
    <ul>
        <li><strong>0: No DR</strong> – Healthy retina with no signs of abnormalities.</li>
        <li><strong>1: Mild</strong> – Microaneurysms are present.</li>
        <li><strong>2: Moderate</strong> – Some blood vessels in the retina are blocked.</li>
        <li><strong>3: Severe</strong> – Many blood vessels are blocked, disrupting blood supply to the retina.</li>
        <li><strong>4: Proliferative</strong> – The most advanced stage, marked by abnormal blood vessel growth that can cause bleeding and retinal detachment.</li>
    </ul>

    <p></p>
    <p><strong>Our Objectives</strong></p>
    <p>
        Our project aims to utilize artificial intelligence to automate the detection of DR and its classification based on 
        these stages. By adopting ResNet-18, we provide a tool that aids in early diagnosis, helping healthcare providers 
        intervene before the disease progresses further.
    </p>
</div>

<!-- About Model Section -->
<div id="about" class="about-model-section">
    <h2>About the Model</h2>
    <p><strong>Why ResNet-18 CNN?</strong></p>
    <p></p>
    <p>
        Resnet-18 is a Convolutional Neural Network (CNN) architecture introduced in the Residual Networks (ResNet) family. 
        It is a convolutional neural network that is 18 layers deep. It is a deep learning model designed for high-accuracy image classification. 
        It uses residual learning to maintain performance even as network depth increases. This architecture makes it highly effective for medical image analysis.
    </p>

    <p><strong>Why ResNet-18 for DR Classification?</strong></p>
    <p></p>
    <ul>
        <li><strong>Efficiency:</strong> Its lightweight nature ensures fast processing and easy deployment.</li>
        <li><strong>Accuracy:</strong> Pre-trained on ImageNet, it excels in recognizing complex retinal features like microaneurysms and hemorrhages.</li>
        <li><strong>Adaptability:</strong> Its design aligns well with the 0-4 classification task, accurately differentiating stages based on visual patterns in the retina.</li>
    </ul>
    <p></p>
    <p><strong>How It Works</strong></p>
    <p></p>
    <p>
        The model processes retinal images through convolutional layers and residual blocks, extracting detailed features. Using 
        this information, it predicts the disease stage (0-4), assisting in both early detection and detailed diagnosis.
    </p>
</div>

<!-- Upload Section -->
<div id="upload" class="upload-section">
    <img id="building1" src="{% static 'img/buildings.png' %}" alt="Background Building" />
   
    <div class="white-container">
        <h2 class="center-title">Try the Model</h2>
        <p></p>
        <p><strong>Test the Prediction Capability</strong></p>

        <p>
            Experience the power of the model in detecting and classifying Diabetic Retinopathy. Upload a retinal image and see the model's 
            prediction based on the 0-4 classification system.
        </p>
        <p></p>
        <p><strong>Instructions:</strong></p>
        <ul>
            <li>Ensure the image is in JPEG or PNG format.</li>
            <li>Click the "Upload an Image" button to select your retinal image.</li>
            <li>Click the "Predict" button and wait for the model to process the image and display the classification stage (0-4).</li>
        </ul>

        <p></p>
        <p><strong>Stage Explanation:</strong></p>
        <ul>
            <li><strong>0:</strong> No signs of DR.</li>
            <li><strong>1:</strong> Mild stage, initial signs detected.</li>
            <li><strong>2:</strong> Moderate stage, some vessel blockages identified.</li>
            <li><strong>3:</strong> Severe stage, widespread vessel blockages observed.</li>
            <li><strong>4:</strong> Proliferative stage, abnormal vessel growth detected.</li>
        </ul>

        <p></p>
        <p><strong>Disclaimer:</strong> The predictions are for research purposes and are not a substitute for clinical diagnosis. 
            Please consult a healthcare professional for medical advice.</p>
    </div>

    <form method="POST" enctype="multipart/form-data" action="{% url 'image_upload' %}">
        {% csrf_token %}
        <div class="file-name-container">
            <label for="file-upload" class="custom-file-btn">Upload an Image</label>
            <input type="file" name="image" id="file-upload" onchange="updateFileNameAndPreview()">
            <div id="file-name-display" class="file-name"></div>
        </div>
        <img id="image-preview" class="image-preview" style="display: none;" />
        <button class="button primary filled" type="submit">Predict</button>
    </form>
</div>

<script>
    function updateFileNameAndPreview() {
        var input = document.getElementById('file-upload');
        var fileName = input.files.length > 0 ? input.files[0].name : '';
        var fileNameDisplay = document.getElementById('file-name-display');
        
        if (fileName) {
            fileNameDisplay.textContent = 'Selected file: ' + fileName;
            fileNameDisplay.style.display = 'block';
        } else {
            fileNameDisplay.style.display = 'none';
        }

        var imagePreview = document.getElementById('image-preview');
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.style.display = 'block';
                imagePreview.src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

{% endblock %}